body{
    background-color: rgba(60, 60, 60, 0.89);
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

footer {
    text-align: center;
    padding: 2%;
    background: #ffffff;
    color: #131212;
    margin-top: 2%;
    font-size: 5;
    box-shadow: 0 0 5px #171717;
}
.img_contatos{
    width: 4%;
    height: 4%;
}
.a_contatos{
    text-decoration: none;
    color: var(--bs-body-color)
}

.div_contatos{
    text-align: left;
    margin-left: 45%;
}